@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;600;700&family=Roboto:wght@500;700&family=Work+Sans:wght@500;700&display=swap');

body {
    background-color: #212529;
}
    /* font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif; */
.header {
    display: flex;
    justify-content: space-between;
}  

.header img {
    padding-left: 50px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    list-style: none;
    width: 30%;
}

.header-nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-nav a:hover {
    color: #FFB742;
}

.header-btn {
    padding: 12px 26px;
    margin: 8px 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: #FFB742;
    text-decoration: none;
    border-radius: 50px;
    color: #212529;
}

.hero {
    color: #FFFFFF;
    text-align: center;
    margin-top: 70px;
    font-family: 'Inter', sans-serif;
}

.hero img {
    border-radius: 50px;
}

.hero h2 {
    font-size: 32px;
    font-weight: 700;
}

.hero-name {
    color: #FFB742;
    text-decoration: underline;
} 

.hero h1 {
    font-size: 48px;
    font-weight: 700;
}

.hero p {
    font-size: 24px;
    font-weight: 400;
}

.hero-items {
    display: flex;
    justify-content: space-around;
    margin: 136px 72px 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    width: 416px;
    height: 120px;
    background-color: #292B2E;
    border-radius: 10px;
    margin-right: 24px;
}

section div:last-child {
    margin-right: 0;
}

.item-image {
    width: 64px;
    height: 64px;
    margin-left: 30px;
}

.item-arrow {
    width: 20px;
    height: 20px;
    margin-right: 30px;
}

.item p {
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 30px;
}

.item-number {
    font-size: 32px;
    color: #FFB742;
}

.item-name {
    font-size: 16px;
    color: #FFFFFF;
}

.item:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
    color: #212529;
    transition: all 1s;
    cursor: pointer;
}

.item:hover .item-number {
    color: #212529;
}

.item:hover .item-name {
    color: #212529;
}

.about {
    display: flex;
    justify-content: space-between;    
}

.about-picture {
    margin-right: 74px;
    width: 45%;
    margin-top: 250px;
}

.about-text {
    width: 682px;
    height: 396px;
    margin-right: 50px;
    margin-top: 220px;
}

.about-text-label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFB742;
    padding: 6px 26px;
    width: 98px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-transform: uppercase;
    margin: 0px;
}

.about-text-title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 1px 0px 29px;
}

.about-text-description {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #D5D5D5;
    margin-bottom: 54px;
}

.about-btn {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: #FFB742;
    text-decoration: none;
    border-radius: 50px;
    color: #212529;
    padding: 12px 26px;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin: 18px 25px 136px 30px;
}

.skills-text {
    margin-right: 80px;
    width: 670px;
}

.skills-text-label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFB742;
    padding: 6px 26px;
    width: 98px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-transform: uppercase;
    margin: 0px;
}

.skills-text-title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 1px 0 30px;
}

.skills-text-description {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #D5D5D5;
    margin-bottom: 63px;
}

.skills-btn {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: #FFB742;
    text-decoration: none;
    border-radius: 50px;
    color: #212529;
    padding: 12px 26px;
}

.skills-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 590px;
    height: 176px;
    
}
.skills-images-box {
    width: 75px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.08);
    text-align: center;
    margin-left: 14px;
    margin-bottom: 16px;
    border-radius: 10px;
}

.skills-images-box img {
    padding: 16px;
}

.skills-images-box:hover {
    background: rgba(255, 183, 66, 0.5);
}

.works {
    text-align: center;
}

.works-label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFB742;
    padding: 6px 26px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
}

.works-title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-top: 1px;
}

.works-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    margin-bottom: 48px;
}

.works-nav a {
    color:#FFFFFF;
    text-decoration: none;
    padding: 5px 20px;
}

.works-nav a:hover {
    background-color: #FFB742;
    color:#212529;
    transition: 1s;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 135px;
}

.works-pictures-row {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.works-pictures-row img {
    width: 90%;
}

.testimonials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 250px;
}

.testimonials {
    text-align: center;
    margin-bottom: 70px;
}

.testimonials-label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFB742;
    padding: 6px 26px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
}

.testimonials-title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-top: 1px;
}

.testimonials-box {
    width: 380px;
    height: 455px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-right: 30px;
}

.testimonials-box-stars {
    margin: 51px 0 15px 33px;
}

.testimonial-box-text {
    margin: 0 52px 39px 33px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}

.testimonials-box-picture {
    display: flex;
    margin: 37px ;
}

.testimonials-box-picture-text {
    margin: 0 0 0 24px;
    font-family: 'Poppins', sans-serif;
}


.testimonials-box-picture-text h4 {
    margin: 0;
    font-size: 20px;
}

footer {
    background: #1C1C1C;
    height: 470px;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 470px;
}

.footer-name {
    margin-top: -70px;
}

.footer-name h3 {
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.footer-name p {
    color: #D4D4D4;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 32px;
}

.footer-links h4 {
    color: #F5FBF2;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 21px;
}

.footer-links ul {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    list-style: none;
} 

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #7B7B7B;
    text-decoration: none;
}

.footer-links a:hover {
    color: #FFB742;
}

.footer-newsletter {
    margin-top: -70px;
}

.footer-newsletter h4 {
    color: #F5FBF2;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 21px;
}

.footer-newsletter p {
    color: #7B7B7B;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 36px;
}